<h1>Viewing Party Lite</h1>

<% if !@user.present? %>
  <p><%= button_to "Create New User", new_user_path, method: :get %></p>
  <p>Already have an account: <%= link_to "Log In", login_path%></p>
  <% else %>
  <p><%= link_to "Log Out", logout_path, method: :delete %></p>
  <div id="users-list">
    <% @users.each do |user| %>
      <%= user.email %>
    <% end %>
  </div>
  <% end %>
